['Grade', 'Year', 'Category', 'Number Tested', 'Mean Scale Score', 'Level 1 #', 'Level 1 %', 'Level 2 #', 'Level 2 %', 'Level 3 #', 'Level 3 %', 'Level 4 #', 'Level 4 %', 'Level 3+4 #', 'Level 3+4 %']

In [24]:
import pandas as pd

# Leer
df = pd.read_csv("../data/2006_-_2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_by_Race-Ethnicity.csv")

# No es posible setear algo como Ã­ndice.

# Eliminar filas duplicadas:
df.drop_duplicates()

# Eliminar las filas con valores que no sirven:
df.dropna(inplace=True)

# Escribir nuevo CSV con los nuevos cambios realizados
df.to_csv("Math_Results_Modified")
df0 = pd.read_csv("Math_Results_Modified")

# Colocar en forma de tabla, las primeras 3000 filas  y luego, las ultimas 2000.
df0.loc[0:5]

# Imprimir el data frame escrito en el nuevo archivo .csv
print(df0)

# Imprimir una lista con los nombres de todas las columnas.
print(list(df0.columns))

# Imprimir los datos de una columna a eleccion
print(df['Number Tested'])

     Unnamed: 0       Grade  Year Category  Number Tested  Mean Scale Score  \
0             0           3  2006    Asian           9768               700
1             1           4  2006    Asian           9973               699
2             2           5  2006    Asian           9852               691
3             3           6  2006    Asian           9606               682
4             4           7  2006    Asian           9433               671
..          ...         ...   ...      ...            ...               ...
163         163           5  2011    White          10808               699
164         164           6  2011    White           9875               695
165         165           7  2011    White           9679               690
166         166           8  2011    White           9570               688
167         167  All Grades  2011    White          62193               695

     Level 1 #  Level 1 %  Level 2 #  Level 2 %  Level 3 #  Level 3 %  \
0          243        2.5        543        5.6       4128       42.3
1          294        2.9        600        6.0       4245       42.6
2          369        3.7        907        9.2       4379       44.4
3          452        4.7       1176       12.2       4646       48.4
4          521        5.5       1698       18.0       4690       49.7
..         ...        ...        ...        ...        ...        ...
163        311        2.9       1709       15.8       4532       41.9
164        409        4.1       1818       18.4       3435       34.8
165        423        4.4       1739       18.0       3023       31.2
166        433        4.5       2190       22.9       4142       43.3
167       2418        3.9      11336       18.2      25191       40.5

     Level 4 #  Level 4 %  Level 3+4 #  Level 3+4 %
0         4854       49.7         8982         92.0
1         4834       48.5         9079         91.0
2         4197       42.6         8576         87.0
3         3332       34.7         7978         83.1
4         2524       26.8         7214         76.5
..         ...        ...          ...          ...
163       4256       39.4         8788         81.3
164       4213       42.7         7648         77.4
165       4494       46.4         7517         77.7
166       2805       29.3         6947         72.6
167      23248       37.4        48439         77.9

[168 rows x 16 columns]
['Unnamed: 0', 'Grade', 'Year', 'Category', 'Number Tested', 'Mean Scale Score', 'Level 1 #', 'Level 1 %', 'Level 2 #', 'Level 2 %', 'Level 3 #', 'Level 3 %', 'Level 4 #', 'Level 4 %', 'Level 3+4 #', 'Level 3+4 %']
0       9768
1       9973
2       9852
3       9606
4       9433
       ...
163    10808
164     9875
165     9679
166     9570
167    62193
Name: Number Tested, Length: 168, dtype: int64

In [17]:
df0.loc[21:26]

,Unnamed: 0,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
21,21,3,2009,Asian,10984,711,43,0.4,216,2.0,5532,50.4,5193,47.3,10725,97.6
22,22,4,2009,Asian,10052,716,99,1.0,260,2.6,3312,32.9,6381,63.5,9693,96.4
23,23,5,2009,Asian,10046,706,86,0.9,298,3.0,3231,32.2,6431,64.0,9662,96.2
24,24,6,2009,Asian,10207,701,143,1.4,512,5.0,3919,38.4,5633,55.2,9552,93.6
25,25,7,2009,Asian,10370,700,76,0.7,507,4.9,4166,40.2,5621,54.2,9787,94.4
26,26,8,2009,Asian,10385,695,136,1.3,803,7.7,5111,49.2,4335,41.7,9446,91.0

In [21]:
# Colocar en forma de tabla las filas 1, 5, 12, 36.
df0.loc[[1,5,12,36]]

,Unnamed: 0,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
1,1,4,2006,Asian,9973,699,294,2.9,600,6.0,4245,42.6,4834,48.5,9079,91.0
5,5,8,2006,Asian,9593,675,671,7.0,1847,19.3,4403,45.9,2672,27.9,7075,73.8
12,12,8,2007,Asian,9734,681,466,4.8,1537,15.8,4661,47.9,3070,31.5,7731,79.4
36,36,4,2011,Asian,10743,708,212,2.0,1269,11.8,3597,33.5,5665,52.7,9262,86.2